@import "_variables.scss";
@import "assets/styles/_typography.scss";


#contact-section {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    width: 100vw;
}

.contact-header {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    text-transform: uppercase;
}

.contact-header__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.contact-paragraph {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 700px;
    color: white;
    font-size: 1.3rem;
}

.email {
    font-weight: 800;
    color: $primary-color;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    background-color: $primary-color;
    // background-color: #333333;
    height: 100px;
    width: 100%;
    color: white;
    padding: 0 10px;

    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        height: 100%;
        width: 100%;

        .footer__logo {
            font-size: 1.4rem;
            margin-left: 1.7rem;
        }

        .footer__logo>span {
            font-weight: 400;
            font-size: 1.1rem;
        }

        .footer__icons {
            display: flex;
            align-items: center;
            gap: 1rem;

            .footer__title {
                font-size: 1.1rem;
                font-weight: 500;
            }

            .fab {
                font-size: 1.5rem;
                cursor: pointer;
                border-radius: 2px;
                background-color: whitesmoke;
                padding: 8px;
                color: black;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}



@media only screen and (min-width: 900px) {
    html {
        font-size: 18px
    }
    .contact-header__title {
        text-transform: uppercase;
        font-size: 3rem;
    }
}