@import "_variables.scss";
@import "assets/styles/_typography.scss";


#contact-section {
    scroll-snap-align: start;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 50vh;

}

.contact-header {
    margin-top: 5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    color: whitesmoke;
    text-transform: uppercase;
}

.contact-header__title {
    text-align: center;
    text-transform: uppercase;
}


.contact-paragraph {
    max-width: 1100px;
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-left: 2rem;
}

.email {
    font-weight: 800;
    color: $primary-color;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    background-color: $primary-color;
    height: 100px;
    color: white;
    padding: 0 10px;
 
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        height: 100%;
        width: 100%;

        .footer__logo {
            font-size: 1.4rem;

        }

        .footer__logo > span {
            font-weight: 400;
            font-size: 1.1rem;
       
           
        }
        
    
        .footer__icons {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            .footer__title {
                font-size: 1.5rem;
                font-weight: 500;
            }

            .fab {
                font-size: 2rem;
                cursor: pointer;
                border-radius: 2px;
                background-color: whitesmoke;
                padding: 8px;
                color: black;
                border: 1px solid #521422;
            }

        }

       
    }


}












@media only screen and (min-width: 900px) {
    html {
        font-size: 18px
    }

}