#skills-section {
  scroll-snap-align: start;
  background-color: #CC3355;
  width: 100vw;
  height: 100vh;
}

.skills-header {
  justify-content: center;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: whitesmoke;
  text-transform: uppercase;
}

.title--skills {
  margin-top: 3rem;
  text-transform: uppercase;
}

.skills-paragraph {
  margin-top: 5rem;
  padding: 3rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px;
  font-size: 2rem;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px;
    grid-gap: 1rem;
    font-size: 3rem;
  }
}
#section-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  width: 100vw;
  min-height: 100%;
}

.header-work {
  height: 80px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: whitesmoke;
}

.title--work {
  margin-top: 3rem;
  text-transform: uppercase;
}

.featured {
  width: 380px;
  margin-bottom: 10px;
}
.featured h6 {
  color: #CC3355;
  font-weight: 500;
  font-size: 1rem;
}

.project__content {
  position: relative;
  padding: 10px;
  height: 300px;
  width: 380px;
  background-image: url("assets/images/calc.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.project h3 {
  font-size: 2.5rem;
  color: white;
  padding-bottom: 10px;
}
.project .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  background-color: #333333;
  height: 150px;
  opacity: 0.7;
  margin-bottom: 10px;
}
.project .text-container p {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.project button {
  background-color: #CC3355;
  border: none;
  cursor: pointer;
  padding: 10px;
  height: 40px;
  width: 130px;
  font-weight: 800;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 80px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.project__techStack {
  margin-top: 10px;
  display: flex;
  gap: 1rem;
}

#contact-section {
  scroll-snap-align: start;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 50vh;
}

.contact-header {
  margin-top: 5rem;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  color: whitesmoke;
  text-transform: uppercase;
}

.contact-header__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.contact-paragraph {
  max-width: 1100px;
  color: white;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-left: 2rem;
}

.email {
  font-weight: 800;
  color: #CC3355;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  background-color: #CC3355;
  height: 100px;
  color: white;
  padding: 0 10px;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.footer .footer__container .footer__logo {
  font-size: 1.4rem;
  margin-left: 1.7rem;
}
.footer .footer__container .footer__logo > span {
  font-weight: 400;
  font-size: 1.1rem;
}
.footer .footer__container .footer__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .footer__container .footer__icons .footer__title {
  font-size: 1.1rem;
  font-weight: 500;
}
.footer .footer__container .footer__icons .fab {
  font-size: 2rem;
  cursor: pointer;
  border-radius: 2px;
  background-color: whitesmoke;
  padding: 8px;
  color: black;
}
.footer .footer__container .footer__icons .fab:hover {
  color: #CC3355;
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 12px;
}

body {
  width: 100vw;
  height: 100vh;
}

#home-section {
  background-color: #F2F4F3;
}

/* Navbar */
.navbar {
  background: #CC3355;
  width: 100%;
}
.navbar .navbar__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
}
.navbar .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.35rem;
}

.flex-nav {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

.nav-link {
  list-style: none;
  margin: 20px 0;
  margin-bottom: 5rem;
  width: 8rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.nav-header span {
  font-weight: 400;
  font-size: 1.4rem;
}

.nav-toggle {
  margin-top: 10px;
  border: transparent;
  background: transparent;
  color: #F8F8F8;
  font-size: 1.9rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: white;
}

.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nav-open {
  height: 100%;
  width: 100%;
}

.hero {
  width: 100%;
}
.hero .hero__container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 100px 0;
  justify-content: center;
}

.hero__title {
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #333333;
}

#red-hero {
  color: #CC3355;
}

.hero--second {
  font-size: 2.5rem;
}

.hero__info > p {
  font-size: 1.1rem;
}

.hero__work {
  letter-spacing: 0.1rem;
  margin-top: 3rem;
  text-transform: uppercase;
  border: 2px solid #CC3355;
  color: #CC3355;
  padding: 1rem;
  display: block;
  max-width: 50%;
  text-align: center;
  font-weight: 800;
}
.hero__work:hover {
  background-color: #CC3355;
  border: 2px solid #CC3355;
  color: white;
}

/** DESKTOP **/
@media only screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }

  .navbar {
    background: transparent;
  }

  .nav-header {
    background-color: #CC3355;
    height: 100%;
  }
  .nav-header:hover {
    opacity: 0.8;
  }

  .navbar__container {
    padding: 0 40px !important;
  }

  .nav-header > h2 {
    color: whitesmoke;
    padding: 20px;
  }

  .nav-toggle {
    display: none;
  }

  .nav-header {
    display: block;
  }

  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;
    margin-top: 0;
    position: absolute;
    right: 0;
  }

  ul {
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
  }
  .nav-link a {
    color: #333333;
  }
  .nav-link:hover a {
    color: #CC3355;
    font-weight: 400;
  }
}

/*# sourceMappingURL=styles.css.map */
