@import "_variables.scss";
@import "assets/styles/_typography.scss";
@import "_skills.scss";
@import "_work.scss";
@import "contact.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}

html {
    font-size: 12px;
}

body {
    width: 100vw;
    height: 100vh;
}

#home-section {
    min-height: 100vh;
    background-color: $terniary-color;
  
}

/* Navbar */
.navbar {
    background: $primary-color;
    width: 100%;

    .navbar__container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 40px;
    }

    .nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 1.35rem;
    }
}

.flex-nav {
    display: flex;
    flex-direction: column;

}

a {
    color: white;
    text-decoration: none;
}

.nav-link {
    list-style: none;
    margin: 20px 0;
    margin-bottom: 5rem;
    width: 8rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}


.nav-header span {
    font-weight: 400;
    font-size: 1.4rem;
}

.nav-toggle {
    margin-top: 10px;
    border: transparent;
    background: transparent;
    color: #F8F8F8;
    font-size: 1.9rem;
    cursor: pointer;
}

.nav-toggle:hover {
    color: white;
}

.nav-links {
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

    a {
        font-size: 1.3rem;
        text-transform: none;
        font-weight: 500;
    }
}

.nav-open {
    height: 100%;
    width: 100%;

}

.hero {
    height: 100vh;
    width: 100%;
    margin: 0 auto;

    .hero__container {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 100px 0;
        justify-content: center;
    }
}


.hero__title {
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    color: black;
}

#red5 {
    color: $primary-color;
    font-weight: 500;
}




#red-hero {
    color: $primary-color;
}

.hero__second {
    font-size: 3.5rem;
    color: $secondary-color;
    margin-bottom: 1rem;
}


.hero_info {
        line-height: 1.5;
        color: black;

}

.text1{
    font-size: 1.4rem;
}


.hero__work {
    letter-spacing: 0.1rem;
    margin-top: 4rem;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid $primary-color;
    color: $white;
    padding: 1.1rem;
    width: 220px;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 3px;
    background-color: $primary-color;

    &:hover {
        background-color: $primary-color;
        border: 2px solid $primary-color;
        color: white;
        transition: .3s ease-in-out;
    }
}


/** DESKTOP **/
@media only screen and (min-width: 900px) {

    html {
        font-size: 18px;
    }

    .navbar {
        background: transparent;
    }

    .nav-header {
        background-color: $primary-color;
        height: 100%;

        &:hover {
            opacity: 0.8;
        }
    }

    .navbar__container {
        padding: 0 40px !important;
    }

    .nav-header>h2 {
        color: whitesmoke;
        padding: 20px;
    }


    .nav-toggle {
        display: none;
    }

    .nav-header {
        display: block;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .nav-links {
        height: auto;
        margin-top: 0;
        position: absolute;
        right: 0;
    }

    ul {
        text-align: center;
    }

    .nav-link {
        display: inline-block;
        border-bottom: none;
        margin-bottom: 0;
        margin-top: 0;


        a {
            color: $secondary-color;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1rem;


        }

        &:hover {
            a {
                color: $primary-color;
                font-weight: 400;
            }
        }
    }

    .hero {

        .hero__container {
            padding-left: 5rem;
            max-width: 700px;
            // border: 2px solid black;
        }


        .hero__work {
            width: 400px;
        }

    }

  



}