@import "_variables.scss";
@import "assets/styles/_typography.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-bar {
    background-color: $primary-color;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .nav-bar__header {
        font-family: $primary-font;
        color: $white;
        padding: 10px;
        font-weight: 500;
    }

    .nav-bar__header__bold {
        font-weight: 800;
        font-size: 2rem;

    }


    .nav-bar__menu {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            text-decoration: none;
            font-family: $primary-font;
            color: $secondary-color;
            margin: 0 10px;
        }
    }

    label {
        font-size: 35px;
        color: $terniary-color;
        cursor: pointer;
    }

    .toggle {
        display: none;
    }

}







body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $terniary-color;
}








.footer {
    background-color: $primary-color;
    height: 100px;
}