@import "_variables.scss";
@import "assets/styles/_typography.scss";
@import "assets/styles/_humburger.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $terniary-color;
}

.nav {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;



    .nav__header {
        font-family: $primary-font;
        color: $white;
        text-decoration: none;
        font-size: 1.7rem;
    }

    .nav-header__bold {
        font-weight: 800;
        font-size: 2.3rem;
    }

    .nav__list {
        width: 100%;
        margin-top: 1rem;

    }

    .nav__item {
        padding: 0.5 2rem;
        font-size: 2rem;
        border-bottom: 1px solid
    }

    .nav__item>a {
        color: $white;
        font-family: $primary-font;
        list-style-type: none;
        text-decoration: none;
        padding-left: 1rem;
        font-weight: 800;
    }

    .nav__toggler:hover {
        fill: $white;
        cursor: pointer;
    }


}


.collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;

}
 .collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;

}



@media only screen and (min-width: 600px) {
    .nav__toggler {
        display: hidden;
    }

    body {
        background-color: red;
    }
    
  }