#skills-section {
  scroll-snap-align: start;
  background-color: #CC3355;
  width: 100vw;
  height: 100vh;
}

.skills-header {
  justify-content: center;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  text-transform: uppercase;
}

.title--skills {
  margin-top: 3rem;
  text-transform: uppercase;
  font-size: 3rem;
}

.skills-paragraph {
  margin-top: 5rem;
  padding: 3rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-size: 1.3rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px;
  font-size: 2rem;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px;
    grid-gap: 1rem;
    font-size: 2.5rem;
  }
}
#section-work {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  width: 100vw;
  min-height: 100%;
  padding-bottom: 40px;
}

.header-work {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  color: white;
}

.title--work {
  padding-left: 30px;
  margin-top: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.projects {
  display: none;
}

.featured {
  width: 300px;
  margin-left: 2.4rem;
  margin-top: 20px;
}
.featured h6 {
  color: #CC3355;
  font-weight: 500;
  font-size: 1.2rem;
}

.project {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
.project__content {
  position: relative;
  display: flex;
  min-height: 270px;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.project__content:hover .project__content__title {
  background-color: white;
  color: black;
  padding: 5px;
  margin-bottom: 10px;
}
.project__content:hover .text-container {
  background-color: white;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.project__content:hover .text-container p {
  color: black;
}
.project__content > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.project__content__title {
  left: 30px;
  margin-top: 20px;
  margin-right: 100px;
  font-size: 2rem;
  color: white;
  z-index: 1;
  position: relative;
}
.project__content::before {
  content: "";
  background: rgba(204, 50, 85, 0.8);
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.project__content:hover:before {
  display: none;
}
.project .text-container {
  padding: 30px;
  position: absolute;
  z-index: 2;
  width: fit-content;
  opacity: 0.9;
  margin-bottom: 10px;
}
.project .text-container p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: white;
}
.project__content__live {
  background-color: #CC3355;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  height: 40px;
  width: 130px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  position: absolute;
  right: 10px;
  bottom: 30px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 3px;
  position: absolute;
  z-index: 2;
}
.project__content__live a {
  color: #CC3355;
}
.project__content__live:hover {
  background-color: #CC3355;
  transition: all 1s, border-radius 2s 4s;
}
.project__content__live:hover a {
  color: #FFFFFF;
}
.project__content__code {
  background-color: #CC3355;
  border: none;
  cursor: pointer;
  padding: 10px;
  height: 40px;
  width: 130px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: white;
  position: absolute;
  right: 0;
  bottom: 30px;
  margin-right: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.project__techStack {
  font-size: 1.1rem;
  margin-top: 10px;
  display: flex;
  gap: 1rem;
  color: white;
}
.project .git1 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 900px) {
  .title--work {
    margin-top: 3rem;
    margin-left: 6.5rem;
    font-size: 3rem;
    color: white;
  }

  .project {
    display: none;
  }

  .featured {
    display: none;
  }

  .projects {
    display: block;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
  .projects .project1 {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .projects .project1__img {
    position: relative;
    height: 300px;
    width: 500px;
  }
  .projects .project1__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .projects .project1 .live-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    width: 130px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
  .projects .project1 .live-btn a {
    color: #CC3355;
  }
  .projects .project1 .live-btn:hover {
    background-color: #CC3355;
    transition: all 1s, border-radius 2s 4s;
  }
  .projects .project1 .live-btn:hover a {
    color: white;
  }
  .projects .project1__img::before {
    content: "";
    background: rgba(204, 50, 85, 0.6);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: ease-in-out 180ms;
  }
  .projects .project1__img:hover:before {
    background: transparent;
  }
  .projects .project1__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }
  .projects .project1__content__featured {
    font-weight: 500;
    font-size: 1rem;
    color: #CC3355;
  }
  .projects .project1__content__title {
    color: white;
    font-size: 2rem;
  }
  .projects .project1__content__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    width: 639px;
    height: 100px;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .projects .project1__content__teckStack {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
  }
  .projects .project1__content__teckStack .teck-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
  }

  .game .game1__gameContent {
    align-items: flex-start;
  }
  .game .game1__gameContent .game1-teckStack {
    padding: 0;
  }
  .game .game1__gameContent .game1-teckStack .game-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
  }
  .game .game1 .game1__img .game-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
  }
}
#contact-section {
  scroll-snap-align: start;
  background-color: #000500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 50vh;
}

.contact-header {
  margin-top: 3rem;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  color: whitesmoke;
  text-transform: uppercase;
}

.contact-header__title {
  text-transform: uppercase;
  font-size: 3rem;
}

.contact-paragraph {
  max-width: 1100px;
  color: white;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-left: 2rem;
}

.email {
  font-weight: 800;
  color: #CC3355;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  background-color: #CC3355;
  height: 100px;
  color: white;
  padding: 0 10px;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.footer .footer__container .footer__logo {
  font-size: 1.4rem;
  margin-left: 1.7rem;
}
.footer .footer__container .footer__logo > span {
  font-weight: 400;
  font-size: 1.1rem;
}
.footer .footer__container .footer__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .footer__container .footer__icons .footer__title {
  font-size: 1.1rem;
  font-weight: 500;
}
.footer .footer__container .footer__icons .fab {
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2px;
  background-color: whitesmoke;
  padding: 8px;
  color: black;
}
.footer .footer__container .footer__icons .fab:hover {
  color: #CC3355;
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 12px;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  scroll-behavior: smooth;
}

#home-section {
  min-height: 100vh;
  background-color: #FFFFFF;
}

/* Navbar */
.navbar {
  background: #CC3355;
  width: 100%;
}
.navbar .navbar__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
}
.navbar .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.35rem;
}

.flex-nav {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

.nav-link {
  list-style: none;
  margin: 20px 0;
  margin-bottom: 5rem;
  width: 8rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.nav-header span {
  font-weight: 400;
  font-size: 1.4rem;
}

.nav-toggle {
  margin-top: 10px;
  border: transparent;
  background: transparent;
  color: #F8F8F8;
  font-size: 1.9rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: white;
}

.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.nav-links a {
  font-size: 1.3rem;
  text-transform: none;
  font-weight: 500;
}

.nav-open {
  height: 100%;
  width: 100%;
}

.hero {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.hero .hero__container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 100px 0;
  justify-content: center;
}

.hero__title {
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
  color: black;
}

#red5 {
  color: #CC3355;
  font-weight: 500;
}

#red-hero {
  color: #CC3355;
}

.hero__second {
  font-size: 3.5rem;
  color: #000500;
  margin-bottom: 1rem;
}

.hero_info {
  line-height: 1.5;
  color: black;
}

.text1 {
  font-size: 1.4rem;
  color: black;
}

.hero__work {
  letter-spacing: 0.1rem;
  margin-top: 4rem;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #CC3355;
  color: #FFFFFF;
  padding: 1.1rem;
  width: 220px;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #CC3355;
}
.hero__work:hover {
  background-color: #CC3355;
  border: 2px solid #CC3355;
  color: white;
  transition: 0.3s ease-in-out;
}

/** DESKTOP **/
@media only screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }

  .navbar {
    background: transparent;
  }

  .nav-header {
    background-color: #CC3355;
    height: 100%;
  }
  .nav-header:hover {
    opacity: 0.8;
  }

  .navbar__container {
    padding: 0 40px !important;
  }

  .nav-header > h2 {
    color: whitesmoke;
    padding: 20px;
  }

  .nav-toggle {
    display: none;
  }

  .nav-header {
    display: block;
  }

  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;
    margin-top: 0;
    position: absolute;
    right: 0;
  }

  ul {
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
    margin-bottom: 0;
    margin-top: 0;
  }
  .nav-link a {
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
  }
  .nav-link:hover a {
    color: #CC3355;
    font-weight: 400;
  }

  .hero .hero__container {
    margin: 50px auto;
    padding-left: 5rem;
    max-width: 700px;
  }
  .hero .hero__work {
    width: 300px;
    text-transform: none;
    background-color: white;
    color: #CC3355;
  }
  .hero .hero__work:hover {
    background-color: #CC3355;
    color: white;
  }
}

/*# sourceMappingURL=styles.css.map */
